/* ============================== google font import =============================== */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* ============================== google font import =============================== */

/* ============================== universal css reset =============================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    list-style: none;
    text-decoration: none;
}
/* ============================== universal css reset =============================== */

/* ============================== reusable classes =============================== */
.btn-primary{
    padding: 18px 30px;
    border-radius: 5px;
    background: rgb(253, 110, 10);
    border: 1px solid rgb(253, 110, 10);
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    color: #FFFFFF;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.btn-primary:hover{
    background: none;
    border: 1px solid rgb(253, 110, 10);
    color: #FD6E0A;
}

.btn-secondary{
    padding: 18px 30px;
    border-radius: 5px;
    background: none;
    border: 1px solid rgb(253, 110, 10);
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    color: #FD6E0A;
    cursor: pointer;
    transition: background 0.2s ease-in-out;
}

.btn-secondary:hover{
    background: rgb(253, 110, 10);
    border: 1px solid rgb(253, 110, 10);
    color: #FFFFFF;
}

.section-title{
    font-size: 35px;
    font-weight: 700;
    color: rgb(24, 24, 24);
    text-align: center;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
}
/* ============================== reusable classes =============================== */

/* ============================== header section start =============================== */
#header-body{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 248, 243);
    background-image: url(../img/developer.png), url(../img/header_bg.png);
    background-repeat: no-repeat;
    background-position: top 50% left 40px, bottom right;
}

#header{
    width: 100%;
    padding-top: 61px;
}

.header-nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav .logo{
    font-size: 45px;
    font-weight: 800;
    line-height: 1px;
    color: #181818;
}

.header-nav .logo .text-design{
    color: #FD6E0A;
}

.header-nav .navbar .nav-items{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav .navbar .nav-items .nav-list{
    margin-left: 50px;
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
}

.header-nav .navbar .nav-items .nav-list .nav-link{
    color: #474747;
}

/* ============================== header section (hero section) start =============================== */

.hero-section{
    width: 100%;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 163px;
}

.hero-section .hero-content-details{
    max-width: 590px;
    height: auto;
    margin-left: 240px;
}

.hero-section .hero-content-details .hero-sub-header{
    font-size: 45px;
    font-weight: 600;
    color: rgb(71, 71, 71);
    margin-bottom: 5px;
}

.hero-section .hero-content-details .hero-heading{
    font-size: 85px;
    font-weight: 700;
    color: rgb(24, 24, 24);
    margin-bottom: 20px;
}

.hero-section .hero-content-details .hero-para{
    font-size: 18px;
    font-weight: 400;
    color: rgb(117, 117, 117);
    margin-bottom: 30px;
    line-height: 30px;
}

.hero-section .btn-box .ml{
    margin-left: 30px;
}

.hero-section .hero-img{
    width: 584px;
    height: 676px;
    margin-top: 161px;
    margin-right: 38px;
}

.hero-section .hero-img .hero{
    width: 100%;
    height: 100%;
}

/* ============================== header section (hero section) end =============================== */
/* ============================== header section end =============================== */

/* ============================== about section start =============================== */
#about-body{
    width: 100%;
    height: 800px;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-details-container{
    width: 1140px;
    height: 550px;
    background-color: rgb(255, 248, 243);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-details-container .about-content{
    width: 827px;
    height: 288px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

.about-details-container .about-content .section-title{
    margin-bottom: 30px;
}

.about-details-container .about-content .about-para{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: rgb(117, 117, 117);
    margin: 30px 0;
}

.about-details-container .about-content .personal-details-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 22px;
}

.about-details-container .about-content .personal-details-container .per-items .per-sub-head{
    font-size: 20px;
    font-weight: 400;
    color: rgb(117, 117, 117);
    line-height: 30px;
}

.about-details-container .about-content .personal-details-container .per-items .per-det{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: #474747;
}
/* ============================== about section end =============================== */